{{!-- The main layout is the HTML page wrapper which can be reused
for the different views of the app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    {{!-- Bootstrap CSS--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Lobster+Two|Merriweather|Oswald&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    
    <title>The Local Spot</title>
    {{!-- maps script --}}
    <script type="text/javascript">
    function initMap() {
        var locations = [
        ['Bonito', -21.123, -56.525, 4],
        ['Zacatecas', 22.763, -102.623, 5],
        ['O‘ahu', 21.483, -158.152, 3],
        ['Santa Cruz De La Sierra', -17.779, -63.164, 2],
        
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: new google.maps.LatLng( -21.123, -56.525),
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
            }
        })(marker, i));
        }
    }

    function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCqQOKxiq0YY8lcWyjVcJBATXNtBrQRHww&' +
        'callback=initialize';
    document.body.appendChild(script);
    }

    window.onload = loadScript;
    </script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="text-center" id="page-top">
    {{!-- HEADER OF WEBSITE --}}
    <header style="border-bottom: 2px dotted #1e3148;">
        <div class="headerLogo fixed-top">
                <div class = "logo">
                    <img src="/img/logo5.png" height="80" width="80" alt="The Spot logo">
                </div>
                <div class = "page-title"> 
                    <h3 class="name">THE LOCAL SPOT</h3>
                    
                </div>
                <div style="text-align:center;">
                        {{!-- <a href="/about" class="button" style="width:20px; color:#99b1e8 ; padding: .5rem 1rem; text-decoration: none;">
                        Sign up</a> --}}
                        <a href="/signin" class="btn btn-secondary btn-md border border-light hvr-bounce-to-right" role="button" aria-disabled="true">Sign in</a>
                </div>    
        </div>
      
      <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <a class="navbar-brand newColor" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navigation navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link newColor" href="about">About<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/newsletter-signup">Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/contest/vacation-photo">Contest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/experiences">Trips</a>
                    </li>
                    
                </ul>
                  {{!--  PLACEHOLDER TO SEARCH, with dev typed placeholder  --}}
                   <script async src="https://cse.google.com/cse.js?cx=f0ab4f4131463c6de"></script>
                  
                   ​<script>
                        (function() {
                            var cx = 'f0ab4f4131463c6de';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                        window.onload = function(){
                            document.getElementById('gsc-i-id1').placeholder = 'Search on Google now!';
                        };
                    </script>
                    <div class="gcse-search"></div>
                                
            </div>
        </nav>
        

    </header>
    {{!-- END OF HEADER --}}

    
    {{!-- body placeholder will be replaced with HTML for each view --}}
    <div class="main container">
        {{{body}}}    
    </div>
    {{!-- END OF BODY PLACEHOLDER --}}


    {{!-- FOOTER --}}
    <footer class="footer">
        <div class="container">
            <p>The Local Spot, your travel guide!</p>
            
        </div>
    </footer>


    {{!-- Adding Bootstrap scripts to body --}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
{{!-- Google Maps --}}
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
</body>
</html>