{{!-- The main layout is the HTML page wrapper which can be reused
for the different views of the app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>The Spot Travel Site</title>
</head>
<body>

    {{!-- HEADER OF WEBSITE --}}
    <header>
        <div class = "logo">
            <img src="/img/logo2.png" alt="The Spot logo">
        </div>
        <div class = "company-name"> 
            <h1 class="name">The Spot Travel Agency</h1>
        </div>
    </header>
    {{!-- END OF HEADER --}}

    {{!-- body placeholder will be replaced with HTML for each view --}}
    <div class="main">
        {{{body}}}    
    </div>
    {{!-- END OF BODY PLACEHOLDER --}}

    {{!-- FOOTER --}}
    <footer class="footer">
        <p>The Spot, your travel agency</p>
    </footer>
</body>
</html>