{{!-- The main layout is the HTML page wrapper which can be reused
for the different views of the app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Spot Travel Site</title>
</head>
<body>
    {{!-- body placeholder will be replaced with HTML for each view --}}
    {{body}}
</body>
</html>