{{!-- The main layout is the HTML page wrapper which can be reused
for the different views of the app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    {{!-- Bootstrap CSS--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Lobster+Two|Merriweather|Oswald&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    
    <title>The Local Spot</title>
</head>
<body class="text-center" id="page-top">
    {{!-- HEADER OF WEBSITE --}}
    <header style="border-bottom: 2px dotted #1e3148;">
        <div class="headerLogo fixed-top">
                <div class = "logo">
                    <img src="/img/logo5.png" height="80" width="80" alt="The Spot logo">
                </div>
                <div class = "page-title"> 
                    <h3 class="name">THE LOCAL SPOT</h3>
                    
                </div>
        
        </div>
      
      <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <a class="navbar-brand newColor" href="/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navigation navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link newColor" href="about">About<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/newsletter-signup">Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/contest/vacation-photo">Contest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link newColor" href="/experiences">Trips</a>
                    </li>
                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link newColor dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/home">Home</a>
                            <a class="dropdown-item" href="/about">About</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/newsletter-signup">Newsletter</a>
                            <a class="dropdown-item" href="/contest/vacation-photo">Contest</a>
                            <a class="dropdown-item" href="/experiences">Trips</a>
                        </div>
                    </li> --}}
                {{!-- <li class="nav-item">
                    <a class="nav-link disabled newColor" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> --}}
                </ul>
        
                <script async src="https://cse.google.com/cse.js?cx=dd1914642283d76a6"></script>
                <div id= "googleSearch" class="gcse-search"></div>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Where you want to go..." aria-label="Search">
                    <button class="btn  btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
                
            </div>
        </nav>
        

    </header>
    {{!-- END OF HEADER --}}

    {{!-- body placeholder will be replaced with HTML for each view --}}
    <div class="main container">
        {{{body}}}    
    </div>
    {{!-- END OF BODY PLACEHOLDER --}}


    {{!-- FOOTER --}}
    <footer class="footer">
        <div class="container">
            <p>The Local Spot, your travel guide!</p>
            
        </div>
    </footer>


    {{!-- Adding Bootstrap scripts to body --}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>