
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>505 - Oops, something on our side! </h1>
            <p>Do not worry about, please come back soon.</p>                        
        </div>
    </div>
    <br>
     <div class="col-sm-12">
            
        <h5>Page will be available soon</h5>
    <br>
    <div class="row"></div>
        <div class="col-sm-12">
            <img src="/img/dogAte.png" alt="404 dog ate this page" height="300" width="300">
        </div>
     </div>
</div>