{{!-- ABOUT PAGE --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>About</h1>
            
        </div>
    </div>
    <br>
    <br>
    {{!-- <div class="row"></div> EXTRA SPACE--}}
        <div class="col-sm-12 construction">
            <div class="col-sm-12">
                <h4 class ="header ">Meet the Locals Tribe</h3>
                
                
            </div>
            <br>

            <div class="col-sm-12">
                <p>We at The Spot Travel are excited to start this journey, 
                    and we thank you for being in here! While we wait, please take a cookie!</p>
                <p>Take a cookie before your travel:</p>
                <blockquote class="animated bounceInRight fortuneCookie ">{{cookie}}</blockquote>
            </div>
        </div>
     </div>
</div>