{{!-- ABOUT PAGE --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>About</h1>
            
        </div>
    </div>
    <br>
    <br>
   
    <div class="col-sm-12 construction">
            <div class="col-sm-12">
                <h4 class ="header ">Meet the Locals Tribe</h3>
                                
            </div>
            <br>

            <div class="col-sm-12" style="text-align: justify;">
                <p style="text-align: center;"><strong>Who we are</strong></p>
                <p>We are a group of friends from around the world, who came together
                    to help new friends to find good (actually awesome) spots when traveling.
                </p>
                <p style="text-align: center;"><strong>Purpose</strong></p>
                <p>Find recommendation for places to travel to, given by locals. Find cities, activities,
                    food and also any other tip a local could give to help you have the best
                    in your trip!
                </p>
                <p style="text-align: center;"><strong>Join us</strong></p>

                <p>Join our community by registering, and be part of our worldwide Local tribe! It is
                    free to join!
                </p>
                <div style="text-align:center;">
                        {{!-- <a href="/about" class="button" style="color:#0a2f66 ; padding: .5rem 1rem; text-decoration: none;">
                        Let's get started!</a> --}}
                        <a href="/register" class=" btn btn-secondary btn-lg border border-light hvr-bounce-to-right mb-4" role="button" aria-pressed="true"> Register now!</a>

                    </div>  
                <hr>
                <p style="text-align: center;"><strong>Not ready yet?</strong></p>

                <p style="text-align: center;">Take a cookie before your travel:</p>
                <blockquote  style="text-align: center;" class="animated bounceInRight fortuneCookie ">{{cookie}}</blockquote>
            </div>

            <div class="col-sm-12">
                <img style="max-width: 75%;" src="/img//aboutPic/oahu02.jpg" alt="Looking for a place" />

            </div>
    </div>

   
</div>