{{!-- ABOUT PAGE --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>About The Spot Travel </h1>
        </div>
    </div>
    <br>
    <div class="row"></div>
        <div class="construction col-sm-12">
            <h3>Page in contruction!</h3>
            <p>We at The Spot Travel are excited to start this journey, 
                and we thank you for being in here! While we wait, please take a cookie!</p>
            
        </div>
        <br>
        <div class="col-sm-12">
            <p>Your fortune cookie for the day is:</p>
            <blockquote class="animated bounceInRight fortuneCookie ">{{cookie}}</blockquote>
        </div>
        
     </div>
</div>