
 <div class="container">
    <div class="row"></div>
        
        <div class="col-sm-12">
            <!-- Masthead Heading-->
            <h1 class="formHeading" >Testimonials</h1>
        </div> 
        <br>
        {{!-- <div class="row"></div>   EXTRA SPACE --}}
        
        <div class="col-sm-12">     
         {{!-- box  --}} 
            <div class="container outter shadow1 rounded-lg pt-4 mt-5 overflow-auto">
                    <!-- Portfolio Section-->
                <section class="page-section portfolio" id="portfolio">
                    <div class="container">
                        <!-- Portfolio Section Heading-->
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mexico</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- Portfolio Grid Items-->
                        <div class="row">
                            <!-- Portfolio Item 0-->
                            <div class="col-md-6 col-lg-6 mb-5">
                                <h3 class="text-center text-capitalize text-secondary">Guadalajara - Mexico</h3>
                                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                                    <div
                                        class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><h4>About Trip</h4><i
                                            class="fa fa-folder-open fa-3x" aria-hidden="true"></i></div>
                                    </div>
                                    <img class="img-fluid" src="assets/img/portfolio/gif/guadalajara.png"
                                        alt="Guadalajara pic." />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                
                </section>
                
            </div>


            <div class="container outter shadow1 rounded-lg pt-4 mt-5 overflow-auto">
                {{!-- <div class="header p-4">
                    <h3 class="formHeading">Past experiences</h3>
                </div>  --}}
                    <!-- Portfolio Section-->
                <section class="page-section portfolio" id="portfolio">
                    <div class="container">
                        <!-- Portfolio Section Heading-->
                        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hawaii</h2>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <!-- Portfolio Grid Items-->
                        <div class="row">
                            
                            <!-- Portfolio Item 1-->
                            <div class="col-md-6 col-lg-6 mb-5">
                                <h3 class="text-center text-capitalize text-secondary">Oharu - Hawaii</h3>
                                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                    <div
                                        class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><h4>About trip</h4><i
                                            class="fa fa-folder-open fa-3x" aria-hidden="true"></i></div>
                                    </div>
                                    <img class="img-fluid" src="assets/img/portfolio/gif/face-recognition-app.gif"
                                        alt="Hawaii" />
                                </div>
                            </div>
                        
                            
                        
                            
                        </div>
                    </div>
                
                </section>
                
            </div>
        </div>