
 <div class="container">
        <div class="row"></div>
        
        <div class="col-sm-12">
                                                    <!-- Masthead Heading-->
            <h1 class="formHeading" >Testimonials</h1>
        </div> 
        <br>
       
                                                    <!-- Trips Grid Items-->
        <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-6 mb-5">
                    <p class="text-center header" style=" font-size:1.2rem;">Santa Cruz de La Sierra - Bolivia</p>
                    <small id="emailHelp" class="form-text text-muted col-sm-12 col-md-12" style="font-weight:bold;">
                                   Click on image to read more
                    </small>
                    {{!-- <p>Click on image to learn more</p> --}}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h4 >EXPERIENCE</h4>
                                <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
                            </div>
                            <img class="img-fluid rounded" src="/img/trips/bol02.png"
                            alt="Bolivia" />
                        </div>
                        
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-6 mb-5">
                   <p class="text-center header" style=" font-size:1.2rem;">Bonito MS - Brazil</p>
                    <small id="emailHelp" class="form-text text-muted col-sm-12 col-md-12" style="font-weight:bold;">
                                   Click on image to read more
                    </small>
                    {{!-- <p>Click on image to learn more</p> --}}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h4 >EXPERIENCE</h4>
                                <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
                            </div>
                            <img class="img-fluid rounded" src="/img/trips/bon01.png"
                            alt="Bolivia" />
                        </div>
                        
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-6 mb-5">
                    <p class="text-center header" style=" font-size:1.2rem;">O'ahu, Hawaii - US</p>
                    <small id="emailHelp" class="form-text text-muted col-sm-12 col-md-12" style="font-weight:bold;">
                                   Click on image to read more
                    </small>
                    {{!-- <p>Click on image to learn more</p> --}}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h4 >EXPERIENCE</h4>
                                <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
                            </div>
                            <img class="img-fluid rounded" src="/img/trips/oahu01.png"
                            alt="Bolivia" />
                        </div>
                        
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-6 mb-5">
                    <p class="text-center header" style=" font-size:1.2rem;">Zacatecas - Mexico</p>
                    <small id="emailHelp" class="form-text text-muted col-sm-12 col-md-12" style="font-weight:bold;">
                                   Click on image to read more
                    </small>
                    {{!-- <p>Click on image to learn more</p> --}}
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <h4 >EXPERIENCE</h4>
                                <i class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
                            </div>
                            <img class="img-fluid rounded" src="/img/trips/mex01.png"
                            alt="Bolivia" />
                        </div>
                        
                    </div>
                </div>
                

                
        </div>
                                                    <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
            aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h3 class="header space portfolio-modal-title  mb-0"
                                        id="portfolioModal1Label">Santa Cruz de La Sierra - Bolivia</h3>
                                
                                    <p class="mb-3 text-justify space text-center">
                                        <em>From a Local:</em> 
                                        <hr>
                                        " This was a very interesting trip! I took the Trem de la Muerte or Death Train, which 
                                         was known to be a dangerous path into the mountains but now it is a beautiful way to go to the Andes. They have great street food
                                        and I loved saltenhas! "  
                                    </p>
                                    <p class="mb-3 text-justify space text-center">Check out more info at TripAdvisor:</p>

                                    <a class="btn btn-outline btn-social " href="https://www.tripadvisor.com/Tourism-g297317-Santa_Cruz_Santa_Cruz_Department-Vacations.html/" target="_blank" ><i 
                                        class="fab fa-dribbble" style="font-size: 1.3rem;" aria-hidden="true"></i>
                                    </a>
                                    
                                    <hr>
                                    <button class="btn btn-secondary btn-md border border-light hvr-bounce-to-right" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
            aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h3 class="header space portfolio-modal-title  mb-0"
                                        id="portfolioModal1Label">Bonito MS - Brazil</h3>
                                
                                    <p class="mb-3 text-justify space text-center">
                                        <em>From a Local:</em> 
                                        <hr>
                                        " OMG! Brazil has way more beautiful (and cheap and safe) places to visit! I went to Bonito, that
                                        in the native language is called Beautiful (Bonito translation to Portuguese) and I swam with fishes, eat
                                        so much fresh water fishes (loved the fine taste of it). It was a memorable experience!"  
                                    </p>
                                    <p class="mb-3 text-justify space text-center">Check out more info at TripAdvisor:</p>

                                    <a class="btn btn-outline btn-social " href="https://www.tripadvisor.com/Tourism-g303349-Bonito_State_of_Mato_Grosso_do_Sul-Vacations.html" target="_blank" ><i 
                                        class="fab fa-dribbble" style="font-size: 1.3rem;" aria-hidden="true"></i>
                                    </a>
                                    
                                    <hr>
                                    <button class="btn btn-secondary btn-md border border-light hvr-bounce-to-right" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
            aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h3 class="header space portfolio-modal-title  mb-0"
                                        id="portfolioModal1Label">O'ahu, Hawaii - US</h3>
                                
                                    <p class="mb-3 text-justify space text-center">
                                        <em>From a Local:</em> 
                                        <hr>
                                        "From everything we did, the most amazing experience my family had was in the east side of the island!
                                        One of the Locals told me about this small city called Kailua, away from the turistic Waikiki. It was amazing,
                                        we were with locals just enjoying the day, reading books and walking with their pets. Definetely one of my
                                        best trips I ever did! "  
                                    </p>
                                    <p class="mb-3 text-justify space text-center">Check out more info at TripAdvisor:</p>

                                    <a class="btn btn-outline btn-social " href="https://www.tripadvisor.com/Attractions-g29222-Activities-Oahu_Hawaii.html" target="_blank" ><i 
                                        class="fab fa-dribbble" style="font-size: 1.3rem;" aria-hidden="true"></i>
                                    </a>
                                    
                                    <hr>
                                    <button class="btn btn-secondary btn-md border border-light hvr-bounce-to-right" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
            aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close " type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h3 class="header space portfolio-modal-title  mb-0"
                                        id="portfolioModal1Label">Zacatecas - Mexico</h3>
                                
                                    <p class="mb-3 text-justify space text-center">
                                        <em>From a Local:</em> 
                                        <hr>
                                        "My first time in Mexico and it was not in a turistic place. My friends recommended the area and
                                        it was amazing. Very safe and the people were so friendly! The arquitecture of the city reminded so much 
                                        europe! I cannot say how much I loved the food and the friendly people we met! "  
                                    </p>
                                    <p class="mb-3 text-justify space text-center">Check out more info at TripAdvisor:</p>

                                    <a class="btn btn-outline btn-social " href="https://www.tripadvisor.com/Attractions-g152772-Activities-Zacatecas_Central_Mexico_and_Gulf_Coast.html" target="_blank" ><i 
                                        class="fab fa-dribbble" style="font-size: 1.3rem;" aria-hidden="true"></i>
                                    </a>
                                    
                                    <hr>
                                    <button class="btn btn-secondary btn-md border border-light hvr-bounce-to-right" data-dismiss="modal"><i
                                            class="fas fa-times fa-fw"></i>Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       

         <!--DIV MAP -->
        <div class="col-sm-12">
               
            <h4 class="header">Check where Locals have been on the map!</h4>
            <br>
            <div id="map" style="border:3px solid black;"></div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqQOKxiq0YY8lcWyjVcJBATXNtBrQRHww&callback=initMap&libraries=&v=weekly"
            async
            ></script>
        </div>
 </div>