<h1>Welcome to The Spot</h1>

<div class="container">
    <br>
    <div class="row"></div>
        <div class="construction col-sm-12">
            <h4>Page in contruction</h4>
            <p>We at The Spot Travel are excited to start this journey, 
                and we thank you for being in here! </p>
            
        </div>
     </div>
</div>