{{!--  HOME PAGE --}}
{{!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to The Local Spot</h1>
        </div>
    </div>
    <br>
    <div class="row"></div>
        <div class="construction col-sm-12">
            <h4>Where the Locals meet!</h4>
            <p> </p>
            
        </div>
        
     </div>
</div> --}}

 <div class="container">
     <div class="row"></div>
        
        <div class="col-sm-12">
            <!-- Masthead Heading-->
            <h1>Welcome to The Local Spot</h1>
        </div>
         <br>
            <br>

        <div class="col-sm-12  ">
            {{!-- IMAGE --}}
            {{!-- <div class="col-sm-6">
              
              <img class="imagem" src="/img/hawaii.jpg" alt="Honolulu Hawaii picture" />
            </div>   
            --}}
            <div class="col-sm-12 construction">
                 
                <div class="col-sm-12  ">
                
                    <h4 class="header ">Tired of crowded turistic spots?</h4>
                </div> 
                <br>
                {{!-- <div class="row"></div> --}}
                {{!-- <div class="row "></div> --}}
                <div class="col-sm-12 " style ="font-size: 1.1rem ;max-width: 55%; margin: 0 auto; text-align:left;">
                    <i class="far fa-check-square"></i>
                    <p>
                       -->     Then, you found your Spot.
                        
                    </p>
                    <p>
                       -->    Travelers sharing
                        the best of their home from all over the world.
                    </p>
                    <p>
                       -->    Join The Local Spot club now! 
                    </p>
                    
                </div>   
                
                
            </div>
            <div class="col-sm-12 ">
                    <img class="imagem" src="/img/travels.svg" alt="Looking for a place" />

                </div>
  
        </div>
         
            
    </div>
 </div>