{{!--  HOME PAGE --}}
{{!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to The Local Spot</h1>
        </div>
    </div>
    <br>
    <div class="row"></div>
        <div class="construction col-sm-12">
            <h4>Where the Locals meet!</h4>
            <p> </p>
            
        </div>
        
     </div>
</div> --}}

 <div class="container">
     <div class="row"></div>
        
        <div class="col-sm-12">
            <!-- Masthead Heading-->
            <h1>Welcome to The Local Spot</h1>
        </div>
         <br>
            <br>

        <div class="col-sm-12  ">
            {{!-- IMAGE --}}
            {{!-- <div class="col-sm-6">
              
              <img class="imagem" src="/img/hawaii.jpg" alt="Honolulu Hawaii picture" />
            </div>   
            --}}
            <div class="col-sm-12 construction">
                 
                <div class="col-sm-12  ">
                
                    <h4 class="header ">Tired of crowded turistic spots?</h4>
                </div> 
                <br>
                <div class="col-sm-12 " style ="font-size: 1.1rem ;max-width: 49%; margin: 0 auto; text-align:left;">
                    {{!-- <div >
                        <div class="divider-custom-icon" style="display: flex; align-items: center; margin-bottom: 1.5rem;"><i class="far fa-check-square"></i>
                        <p style="padding-left: 1rem; margin:auto 0;"> Then, This is your Spot. </p>
                        </div>
                    </div> --}}
                    <p style="font-weight: bold; margin-bottom: 1.5rem;">If the answer is YES, you found your Spot!</p>
                    <div >
                        <div class="divider-custom-icon" style="display: flex; align-items: center; margin-bottom: 1.5rem;"><i class="far fa-check-square"></i>
                        <p style="padding-left: 1rem; margin:auto 0;">  Travelers sharing
                        the best of their home.
                        </div>
                    </div>
                    <div >
                        <div class="divider-custom-icon" style="display: flex; align-items: center; margin-bottom: 1.5rem;"><i class="far fa-check-square"></i>
                        <p style="padding-left: 1rem; margin:auto 0;">  Tips from around the world.
                        </div>
                    </div>
                    <div >
                        <div class="divider-custom-icon" style="display: flex; align-items: center; margin-bottom: 1.5rem;"><i class="far fa-check-square"></i>
                        <p style="padding-left: 1rem; margin:auto 0;">  Cities and places that only locals know.
                        </div>
                    </div>
                     <div >
                        <div class="divider-custom-icon" style="display: flex; align-items: center; margin-bottom: 1.5rem;"><i class="far fa-check-square"></i>
                        <p style="padding-left: 1rem; margin:auto 0;">  Get the best of your travel! 
                        </div>
                    </div>   
                    <div style="text-align:center;">
                        <a href="/about" class="button" style="color:#0a2f66 ; padding: .5rem 1rem; text-decoration: none;">
                        Let's get started!</a>

                    </div>  
                                
                </div>   
                
                
            </div>
            <div class="col-sm-12 ">
                    <img class="imagem" src="/img/travels.svg" alt="Looking for a place" />

                </div>
  
        </div>
         
            
    </div>
 </div>