{{!--  HOME PAGE --}}
{{!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to The Local Spot</h1>
        </div>
    </div>
    <br>
    <div class="row"></div>
        <div class="construction col-sm-12">
            <h4>Where the Locals meet!</h4>
            <p> </p>
            
        </div>
        
     </div>
</div> --}}

 <div class="container">
     <div class="row"></div>
        
        <div class="col-sm-12">
            <!-- Masthead Heading-->
            <h1>Welcome to The Local Spot</h1>
        </div>
        <br>
        {{!-- <div class="row"></div> EXTRA SPACE --}}
         <div class="col-sm-12">
              <!-- Masthead Avatar Image--><img class="imagem" src="/img/hawaii.jpg" alt="Honolulu Hawaii picture" />
         </div>   
         <div class="col-sm-12">
              <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-3">Computer Science Graduate Student - Electrical Engineer - Web Developer</p>
         </div>   
        <div class="col-sm-12">
              <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-3">Computer Science Graduate Student - Electrical Engineer - Web Developer</p>
         </div>   
         <div class="col-sm-12">
              <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-3">Computer Science Graduate Student - Electrical Engineer - Web Developer</p>
         </div>   
            
    </div>
 </div>